#
# Disable PCI hotplug related features
#
# CONFIG_HOTPLUG_PCI is not set，
# CONFIG_HOTPLUG_PCI_PCIE is not set
# CONFIG_HOTPLUG_PCI_SHPC is not set
# CONFIG_HOTPLUG_PCI_ACPI is not set

#
# Disable PCIe DPC / ECRC
#
# CONFIG_PCIE_DPC is not set
# CONFIG_PCIE_ECRC is not set

#
# Disable IOMMU / SMMU and PCI ATS / PRI / PASID
#
# CONFIG_IOMMU_SUPPORT is not set
# CONFIG_ARM_SMMU is not set
# CONFIG_ARM_SMMU_V3 is not set
# CONFIG_PCI_ATS is not set
# CONFIG_PCI_PRI is not set
# CONFIG_PCI_PASID is not set

# NVMe 块设备支持
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_INTEGRITY_T10=y
CONFIG_BLK_DEV_NVME=y

# 文件系统支持
CONFIG_EXT4_FS=y
CONFIG_JBD2=y
CONFIG_FS_MBCACHE=y
CONFIG_XFS_FS=y

CONFIG_LIBCRC32C=y